<!DOCTYPE html>
<html lang="en">
<head>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Rada</title>
	<%- include("partials/headers") -%>
</head>
<body>

	<%- include("partials/bar") -%>
	<!-- /navbar -->



	<div class="wrapper" id="cambio">
		<div class="container">
			<div class="row">
				<div class="span3">
					<%- include("partials/sidebar") -%><!--/.sidebar-->
				</div><!--/.span3-->


				<div class="span9">
					<div class="content">

						<div class="module">
							<div class="module-head">
								<h3>ADMIN</h3>
							</div>
							<div class="module-body">

								<div class="stream-list">
							

									<div class="media stream">
										<a href="#" class="media-avatar medium pull-left">
											<img src="/css/images/user.png">
										</a>
										<div class="media-body">
											<div class="stream-headline">
												<h5 class="stream-author">
													RADA RECORDS
												</h5>
												<div class="stream-text">
													PASEO DE LA REFORMA NO. 376
												</div>
                                                <div class="stream-text">
													DESP. 202, JUAREZ, MEXICO
												</div>
                                                <div class="stream-text">
													DISTRITO FEDERAL CP 06600
												</div>
											</div><!--/.stream-headline-->
										</div>
									</div><!--/.media .stream-->
								</div><!--/.stream-list-->
							</div><!--/.module-body-->
						</div><!--/.module-->
						
					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

	<div class="footer">
		<div class="container">
			 

			<b class="copyright">&copy; 2021 ESIME ZACATENCO </b> ICE.
		</div>
	</div>

</body>