<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>borrar usuario</h1>
    <form action="/users/delete/<%= user[0]['id'] %>" method="POST">
        <h2>¿Desea eliminar usuario?</h2>
        <a id='btn-update' href="/users/all">Cancelar</a>
        <input id='btn-delete' type="submit" value="Eliminar"> 
      </form>
</body>
</html>