<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    
</head>
<body >
    
    <div class="content">
        
        <center>
            
            
            <form action="/users/login" method="POST">
                <div id="div-aux">
                <label for="email" id="parrafo">email </label>
                <input type="text" name="email" id="email"> 
                <label for="password" id="parrafo">Password </label>
                <input type="text" name="password" id="password"> 
                </div>
                <div id="div-aux2">
                <input type="submit" class="btn-si" value="confirmar">
                </div>  
            </form>
            </div>
        </center>
       
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>