<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
    
  
    <a href="/users/admin" class="square">O</a>
    <center>
    <div>
           <a href="/users/all" class="btn-mostrar">
                <span id="span1"></span>
                <span id="span2"></span>
                <span id="span3"></span>
                <span id="span4"></span>
                Usuarios
            </a>
            <a href="/users/store" class="btn-tienda">
                <span id="span-1"></span>
                <span id="span-2"></span>
                <span id="span-3"></span>
                <span id="span-4"></span>
                Tienda
            </a>
            <a href="#" class="btn-CWR">
                <span id="span-uno"></span>
                <span id="span-dos"></span>
                <span id="span-tres"></span>
                <span id="span-cuatro"></span>
                CWR
            </a>
            <a href="#" class="btn-gestionar">
                <span id="span-one"></span>
                <span id="span-two"></span>
                <span id="span-three"></span>
                <span id="span-four"></span>
                Gestionar
            </a>
    </div>
    </center>
</body>
</html>